<hr>


<li class="portfolio-item apps">
    <div class="item-inner">
        <h5>Title: <%= reward.title %></h5>
        <h6>Amount: <%= number_to_currency(reward.amount)%></h6>
        <h6>Quantity: <%= reward.quantity %></h6>
        <h6>Description: <%= reward.description %></h6>
        <div class="overlay">
            <%= form_for [current_user, @pledge], class: "green-button-view preview btn " do |f| %>
            <%= f.hidden_field :reward_id, value: reward.id %>

            <%= f.submit "Pledge" %>
            <% end %>
        </div>
    </div>
</li>

