<section id="title" class="emerald" >
        <div class="container" style="width: 80%" >
            <div class="row" style="text-align: center" >
                <div class="col-sm-6" style="width: 100%" >
                  	<h2><%= "#{@user.first_name}" + " " + "#{@user.last_name}" %></h2>
                    <h4>Congragulations! you have pledged a total of <%= number_to_currency(@user.total_pledge_amount)%> and funded <%= @user.total_projects_backed %>
                    <% if @user.total_projects_backed == 1 %>
                    	campaign
                    <% else %>
                    	campaigns
                    <% end %>

                    </h4>
                </div>
            </div>
        </div>
    </section><!--/#title-->


<div class="container" style="width: 80%" >
            <div class="row" style="text-align: center" >
                <div class="col-sm-6" style="width: 100%" >
                <%= link_to 'Update profile', edit_user_path(@user) %>
                  	<h4>Past pledges</h4>
										<hr>
                  	<% @user.pledges.each do |i| %>
													<li class="portfolio-item apps" style="list-style-type:none">
													  <div class="item-inner">
													    <h4><%= i.title %></h4>
													    <h5><%= i.description %></h5>
													    <h5><%= number_to_currency(i.amount) %></h5>
													    <h5><%= i.created_at.strftime("Pledged on %m/%d/%Y") %></h5>
													    <div class="overlay">
													      <%= link_to "View Project", project_path(i.project),class: "green-button-view preview btn " %>
													    </div>
													   </div>
													</li>

											<% end %>
                </div>
            </div>
        </div>









