<li class="portfolio-item apps">
    <div class="item-inner">
        <%=image_tag("#{project.picture_url}", class: "thumbnail-img" ) %>
        <h5><%= link_to project.title, project_path(project) %></h5>
        <h6><%= project.description %></h6>

        <div class='project-progress-bar'></div>
        <div class="project-percent-pledge"></div>


        <h6><%= number_to_currency(project.funding_goal) %></h6>
        <h6><%= project.days_left_message %></h6>
        <div class="overlay">

            <%= link_to "View", project_path(project),class: "green-button-view preview btn " %>
        </div>
    </div>
</li>

