<li class="portfolio-item apps">
    <div class="item-inner">
        <div id='thumbnail-image'>
          <style type="text/css">
            #thumbnail-image {
                background: url("<%= project.picture_url%>") no-repeat center;

                background-size: cover;
                width: 100%;
                height: 20em;
            }

          </style>
          </style>
        </div>
        <h5><%= link_to project.title, project_path(project) %></h5>
        <h6><%= project.description %></h6>

        <div class='project-progress-bar'>
            <div class="project-percent-pledge" data-percentage="<%= project.percent_funded %>">
            </div>
        </div>

        <div>
            <h6><%= "#{project.percent_funded.to_i}" + "%" %> funded </h6>
        </div>
        <div>
            <h6><%= number_to_currency(project.pledge_total) %> pledged</h6>
        </div>

        <% if project.days_left == 1 %>
            <h6><%= project.days_left %> day to go</h6>
        <% elsif project.days_left <= 0%>
            <h6>Campaign has ended</h6>
        <% else %>
            <h6><%= project.days_left %> days to go</h6>
        <% end %>


        <div class="overlay">

            <%= link_to "View", project_path(project),class: "green-button-view preview btn " %>
        </div>
    </div>
</li>

