<!-- START MAIN SLIDER -->
<section id="main-slider" class="no-margin">
    <div class="carousel slide wet-asphalt">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(<%= @random_projects[0].picture_url%>)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered" style="margin-top: 209px">
                                <h2 class="boxed animation animated-item-1"><%= @random_projects[0].title %></h2>
                                <br>
                                <p class="boxed animation animated-item-2"><%= @random_projects[0].description %></p>
                                <br>
                                <%= link_to 'Learn more', project_path(@random_projects[0]), class: "btn btn-md animation animated-item-3" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!--/.item-->
        <div class="item" style="background-image: url(<%= @random_projects[1].picture_url %>)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="carousel-content center centered" style="margin-top: 209px">
                            <h2 class="boxed animation animated-item-1"><%= @random_projects[1].title %></h2>
                            <br>
                            <p class="boxed animation animated-item-2"><%= @random_projects[1].description %></p>
                            <br>
                            <%= link_to 'Learn more', project_path(@random_projects[1]), class: "btn btn-md animation animated-item-3" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <!--/.item-->
        <div class="item" style="background-image: url(<%= @random_projects[2].picture_url %>)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="carousel-content center centered" style="margin-top: 209px">
                            <h2 class="boxed animation animated-item-1"><%= @random_projects[2].title %></h2>
                            <br>
                            <p class="boxed animation animated-item-2"><%= @random_projects[2].description %></p>
                            <br>
                            <%= link_to 'Learn more', project_path(@random_projects[2]), class: "btn btn-md animation animated-item-3" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <!--/.item-->
            </div>
            <!--/.carousel-inner-->
        </div>
        <!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section>
<!-- END MAIN SLIDER -->





<hr>

<section id="title" class="emerald" >
        <div class="container" style="width: 80%" >
            <div class="row" style="text-align: center" >
                <div class="col-sm-6" style="width: 100%" >
                    <h2>Explore an innovative creative universe</h2>
                    <h4>15 diverse catagories. Thousands of amazing projects.</h4>
                </div>

            </div>
        </div>
    </section><!--/#title-->




<section class="container" >
    <ul class="portfolio-items col-3">
        <div id="fuck-ryan">
        <%= render 'category' %>
        </div>

        <li class="portfolio-item apps">
            <div class="discover-categories">
                <% @categories.each do |i| %>
                    <ul>
                      <%= link_to i, projects_path,class: 'category-display' %>
                    </ul>
                <% end %>
            </div>
        </li>
    </ul>
</section>


<hr>

<h2>Popular projects</h2>

<section id="portfolio" class="container">
    <ul class="portfolio-items col-3">
        <%= render @projects %>
    </ul>
</section>



