<!-- START MAIN SLIDER -->
<section id="main-slider" class="no-margin">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(<%= @project1.picture_url%>)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                    <h2 class="boxed animation animated-item-1"><%= @project1.title %></h2>
                                    <br>
                                    <p class="boxed animation animated-item-2"><%= @project1.description %></p>
                                    <br>
                                    <%= link_to 'Learn more', project_path(@project1), class: "btn btn-md animation animated-item-3" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--/.item-->
                <div class="item" style="background-image: url(<%= @project2.picture_url %>)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                    <h2 class="boxed animation animated-item-1"><%= @project2.title %></h2>
                                    <p class="boxed animation animated-item-2"><%= @project2.description %></p>
                                    <br>
                                    <%= link_to 'Learn more', project_path(@project2), class: "btn btn-md animation animated-item-3" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--/.item-->
                <div class="item" style="background-image: url(<%= @project3.picture_url %>)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                    <h2 class="boxed animation animated-item-1"><%= @project3.title %></h2>
                                    <p class="boxed animation animated-item-2"><%= @project3.description %></p>
                                    <br>
                                    <%= link_to 'Learn more', project_path(@project3), class: "btn btn-md animation animated-item-3" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--/.item-->
            </div>
            <!--/.carousel-inner-->
        </div>
        <!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section>
<!-- END MAIN SLIDER -->



<h1>Crowdfunder Projects</h1>

<hr>

<h2>Explore an innovative creative universe</h2>
<p>15 diverse catagories. Thousands of amazing projects.</p>

<div class="discover-categories">
   <% @categories.each do |i| %>

   	<button><%= link_to i, projects_path %></button>
  <% end %>
</div>

<hr>

<h2>Project List</h2>

<div id="projects">
  <%= render @projects %>
</div>

