<div class="project">
  <div>
    <div>
  	 <h1><%= @project.title %></h1>
      <%=image_tag("#{@project.picture_url}") %>
    </div>

    <div class="project-info">
      <h2><%= @project.description %></h2>
    </div>
  </div>

  <div>
    <div>
      <h2><%= number_to_currency(@project.pledge_total) %></h2>
      <p>pledged of <%= number_to_currency(@project.funding_goal) %> goal</p>
    </div>

    <div>
      <h2> <%=@project.backers %></h2>
      <% if @project.backers == 1 %>
        <p>backer</p>
      <% else %>
        <p>backers</p>
      <% end %>
    </div>

    <div>
      <% if @project.days_left <= 0 %>
        <h2>campaign ended</h2>
      <% else %>
        <h2><%= @project.days_left%></h2>
        <p>days to go</p>
      <% end %>
    </div>
  </div>
</div>
<hr>

<h2>Rewards</h2>

<section id="portfolio" class="container">
    <ul class="portfolio-items col-3">
        <%= render @project.rewards %>
    </ul>
</section>

</div>


<span class="project-options">
  <%= link_to 'Edit Project', edit_project_path(@project) %>
</span>