<div class="project">
	<h2><%= @project.title %></h2>
  <%=image_tag("#{@project.picture_url}") %>

  <h3>About this project</h3>
  <div class="project-info">
    <p>Project Description: <%= @project.description %></p>
    <p>Funding Goal: <%= number_to_currency(@project.funding_goal) %></p>
    <p>Backers: <%=@project.backers %></p>
    <p><%= @project.days_left_message %></p>
  </div>
</div>
<hr>

<h2>Rewards</h2>
<div class="rewards">
  <%= render @project.rewards %>
</div>

<hr>
<span class="project-options">
  <a href="https://www.facebook.com/sharer/sharer.php?u=SHAREMESSAGE" title="Share on Facebook" target="http://localhost:3000/projects/" + "#{project_id}" class="btn btn-facebook"><i class="fa fa-facebook"></i> Share on facebook</a>
  <%= link_to 'Edit Project', edit_project_path(@project) %>
</span>