
<HEAD>
<!DOCTYPE html>
<html lang="en">

<body>
<!-- facebook fan page? company facebok? -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=144716315690681";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1><%= @project.title %></h1>
                    <p><%= @project.description %></p>
                </div>

            </div>
        </div>
    </section><!--/#title-->

    <section id="blog" class="container">
        <div class="row">
            <aside class="col-sm-4 col-sm-push-8">


                <div class="widget categories">
                    <h3><%= number_to_currency(@project.pledge_total) %></h3>
                    <p>pledged of <%= number_to_currency(@project.funding_goal) %> goal</p>
                </div><!--/.categories-->
                <div class="widget tags">
                    <h3><%=@project.backers %></h3>
                    <% if @project.backers == 1 %>
                      <p>backer</p>
                    <% else %>
                      <p>backers</p>
                    <% end %>

                    <% if @project.days_left <= 0 %>
                      <h2>campaign ended</h2>
                    <% else %>
                      <h2><%= @project.days_left%></h2>
                      <p>days to go</p>
                    <% end %>

                    <ul class="tag-cloud">
                        <li><a class="btn btn-xs btn-primary" href="#">Back This Project</a></li>

                    </ul>
                </div><!--/.tags-->

                <div class="widget facebook-fanpage">
                    <h3>Rewards</h3>
                    <div class="widget-content">
                      <section id="portfolio" class="container">
                      <div id="square-reward">
                          <%= render @project.rewards %>
                      </div>

                      </section>

                    </div>
                </div>
            </aside>
            <div class="col-sm-8 col-sm-pull-4">
                <div class="blog">
                    <div class="blog-item">

                        <div class="blog-content">
                          <%=image_tag("#{@project.picture_url}", class: "img-responsive img-blog") %>
                            <h3><%= @project.title %></h3>
                            <div class="entry-meta">
                                <span><i class="icon-user"></i> <a href="#">Category</a></span>
                                <span><i class="icon-folder-close"></i> <a href="#">owner_id</a></span>
                                <span><i class="icon-calendar"></i>location</span>
                                <span><i class="icon-comment"></i> <a href="blog-item.html#comments">3 Comments</a></span>
                            </div>
                            <p class="lead"><%= @project.description %></p>

                            <p><%= @project.long_description %></p>

                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                            <hr>

                            <!-- Possible share links/ project tags -->
                            <!-- <div class="tags">
                                <i class="icon-tags"></i> Tags <a class="btn btn-xs btn-primary" href="#">CSS3</a> <a class="btn btn-xs btn-primary" href="#">HTML5</a> <a class="btn btn-xs btn-primary" href="#">WordPress</a> <a class="btn btn-xs btn-primary" href="#">Joomla</a>
                            </div>
 -->
                            <p>&nbsp;</p>

    </section><!--/#blog-->

<hr>

<h2></h2>



</div>


<span class="project-options">
  <%= link_to 'Edit Project', edit_project_path(@project) %>
</span>
