<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<%= link_to 'CROWDFUNDER', projects_path %>
	<%= link_to 'Discover', projects_path %>
	<%= link_to 'Start a project', new_project_path %>

	<%= form_tag projects_path do %>
		<%= text_field_tag :search, params[:title], placeholder: "Search projects" %>
	<% end %>

	<% if current_user %>
		<%= link_to 'Sign Out', user_session_path(current_user), method: :delete %>
		<%= link_to 'Profile', user_path(current_user) %>
	<% else %>
		<%= link_to 'Sign Up', new_user_path %>
		<%= link_to 'Log In', new_user_session_path %>
	<% end %>

</header>

<%= yield %>

</body>
</html>
