<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav class="main-nav">
  	<%= link_to 'CROWDFUNDER', projects_path %>
  	<%= link_to 'Discover', projects_path %>
  	<%= link_to 'Start a project', new_project_path %>

  	<%= form_tag projects_path do %>
  		<%= text_field_tag :search, params[:title], placeholder: "Search projects" %>
  	<% end %>

  	<% if current_user %>
  		<%= link_to 'Profile', user_path(current_user) %>
      <%= link_to 'Sign Out', :logout, method: :post %>
  	<% else %>
  		<%= link_to 'Sign Up', :signup %>
  		<%= link_to 'Log In', :login %>
  	<% end %>
  </nav>

  <div class="notice">
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

</header>

<%= yield %>

</body>
</html>
